.flex{
    display: flex;
    /* flex-wrap: wrap; */
    border: 2px solid black;
    /* padding-left: 40px; */
    /* margin: 10px; */
    flex-direction: column;
    /* width: 300px; */
}

.card2{
    border: 2px solid red;
    /* margin: 20px; */
    /* align-items: center; */
    justify-content: space-around;
    /* padding: 40px; */
    display: flex;
    flex-direction: row;
    gap: 20px;
}