

/* Light mode styles */
.light-mode {
    background-color: white;
    color: black;
  }
  
  .light-mode .search-container input,
  .light-mode .search-container button {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: #121212;
    color: white;
  }
  
  .dark-mode .search-container input,
  .dark-mode .search-container button {
    background-color: #333;
    color: white;
    border: 1px solid #444;
  }
  .text-color{
    color: brown;
  }
  .bg-color{
    background-color: yellow;
  }
  